@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  position: relative;
  padding: 10px 0 10px;
  
}
.footer-container{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  
  
}

.col{
    flex: 1;
  margin:0;
  text-align: left;
  padding: 5px;
  
}

.footer-container .col ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  justify-content: left;
  align-items: left;
}

.footer-container .col ul li {
  margin: 8px 0;
  text-align: left;
  font-size: 1em;
  display: block;
  text-transform: none;
  font-weight: normal;
  cursor: default;
}

.footer-container .col ul li a {
  color: #555;
  text-decoration: none;
  font-size: 1em;
  text-transform: none;
  font-weight: normal;
}

.logo-section {
    flex: 1.5;
  }

.logo{
    width: 220px;
    height: 169px;
    
}

.col h4{
    font-size: 1.2em;
  margin-bottom: 15px;
  color: #333;
  text-align: left;
}

.col ul {
  list-style: none;
  padding: 0;
  margin: 0;  /* Remove any default margins */
  }

.col ul li{
  margin: 8px 0;  /* Adjust vertical spacing between items */
  text-align: left;
  font-size: 1em;
  display: block;  /* Ensures block-level display */
    
}

.col ul li a{
    color: #555;
  text-decoration: none;
  
}
/**/

.col ul li a:hover {
    text-decoration: underline;
    
  }

form {
  display: block;
}

.campo {
  padding: 5px;
  background-color: #f7f7f7;
  margin: 2px;
  border: 1px solid black;
  outline: none;
  color: #3f3f3f;
}

.btn-2{
  width: auto;
  padding: 5px 10px;
  cursor: pointer;
}

.campo::placeholder{
  color: black;
}
  
  .social-section .social-icons {
    display: flex;
    justify-content: left;
    gap: 15px;
  }
  
  .social-section .social-icons a {
    font-size: 2.2em;
    color: #555;
    text-decoration: none;
    
  }
  
  .social-section .social-icons a:hover {
    color: #000;
  }
  
  .contact-section p {
    margin: 5px 0;
    color: #555;
    font-size: 0.8em;
    text-align: left;
  }
  
  .footer-bottom {
    position: absolute;
    bottom: 10px; /* Posicionar en la parte inferior */
    right: 20px; /* Alinear a la derecha */
    font-size: 0.9em;
    color: #777;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: left;
    }
  
    .footer-section {
      margin: 20px 0;
    }

    .footer-bottom {
        position: relative; /* Para que sea responsivo en pantallas pequeñas */
        margin-top: 20px;
      }
  }